* {
  margin: 0;
  padding: 0;
}
.main {
  display: grid;
  grid-template-columns: 21% 61% 18%;
  grid-template-rows: 10% 90%;
  width: 100vw;
  height: 100vh;
}
.nav_top {
  grid-column-start: span 2;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.black {
  background-color: rgb(48, 47, 47);
  grid-row-start: span 2;
}
.menu {
  border-top: black solid 0.8px;
  padding-top: 15px;
}
.nav_left {
  border-top: black solid 0.8px;
  display: block;
  border-right: black solid 0.8px;
}
.ryanair {
  height: 18px;
}

a {
  color: black;
  text-decoration: none;
  padding-bottom: 0px;
}
.fa {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  margin-top: 8px;
}
.a {
  margin-bottom: 30px;
}
svg {
  width: 1.2em;
  height: 1.2em;
}
p {
  text-align: center;
  font-size: 0.7em;
}
.list {
  border-bottom: 0.8px solid black;
}
.menu ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 15px 0px;
  font-size: 1em;
  padding-left: 30px;
}
.menu ul li svg {
  font-size: 0.6em;
  float: right;
  padding-right: 15px;
}
ul {
  margin: 0px;
  padding: 0px;
}
