body {
  margin: 0px;
}

.main {
  display: grid;
  grid-template-rows: 30% 50% 20%;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('samolot.jpg');
  background-position-x: 20%;
  background-position-y: 30%;
}
.one {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('samolot.jpg');
  background-position-x: 20%;
  background-position-y: 30%;
}

img {
  width: 80px;
  padding-bottom: 10px;
}
.icon {
  margin-top: 40px;
  margin-left: 40px;
}
.button {
  text-align: center;
  margin-top: 50px;
}
