body {
  margin: 0px;
}

.main {
  display: grid;
  grid-template-rows: 20fr 60fr 10fr 10fr;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('samolot.jpg');
  background-position-x: 20%;
  background-position-y: 30%;
}
.ryanair {
  height: 20px;
  width: auto;
  margin-top: 40px;
  /* margin-left: 80px; */
  background: transparent;
}
.button {
  text-align: center;
}
.lorem {
  text-align: center;
}
p {
  font-size: 0.5em;
}

.column {
  width: 60%;
  margin: auto;
  display: flex;

  margin-bottom: 20px;
}
