main {
  margin: 0;
  padding: 0;
}
.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8% 15% 66% 0.3% 4% 6%;
}
.nav {
  grid-column-start: span 4;
  display: flex;
  background-color: white;
  margin-top: 8px;
  border-bottom: black solid 0.8px;
}
.batery {
  grid-column-start: span 4;
  margin-left: auto;
  padding-right: 10px;
}
.radio {
  grid-column-start: span 4;

  margin-left: 20px;
}

.ryanair {
  height: 20px;
}
.one {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
}

p {
  font-size: 0.8em;
  text-align: center;
}
