#wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
}
.one {
  background-image: url('samolot.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
* {
  margin: 0px;
  padding: 0px;
}
.img {
  height: 30px;
  width: auto;
  margin-top: 130px;
  /* margin-left: 80px; */
  background: transparent;
}
