body {
  margin: 0px;
  padding: 0px;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 18% 48% 12% 12%;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.rihanna {
  padding: 0px 24px;
}
iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.x {
  padding: 20px;
}
.song {
  padding-top: 20px;
}
p {
  color: white;

  text-align: center;
}
svg {
  color: white;
}
.container svg {
  width: 1.2em;
  height: 1.2em;
  margin: 22px 12px;
}
.container {
  text-align: center;
}
