body {
  margin: 0;
}
main {
  background-color: rgb(219, 223, 226);
}

.class1 {
  display: flex;
  border-bottom: 0.8px solid black;
  width: 100%;
  height: auto;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: aliceblue;
  z-index: 2000;
}
.one1 {
  flex: 10%;
  padding-left: 10px;
}
.one2 {
  flex: 80%;
  text-align: center;
  margin-top: 5px;
}
.one3 {
  flex: 10%;
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  overflow: auto;
}
.class2 {
  display: flex;
  width: 100%;
  margin-top: 40px;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  width: 20%;
}
svg {
  color: black;
}
.class3 {
  display: flex;
  width: 100%;
  height: 180px;
}
.matt {
  flex: 1;
  width: 100%;
  height: 100%;
  background-image: url('piper.jpg');

  background-size: cover;
}

.class5 {
  display: grid;
  height: 210px;
  width: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80% 20%;
}
.gridpictures img {
  padding-left: 10px;
  height: 100%;
  width: 100%;
  background-size: contain;
}
.gri1 img {
  padding-right: 10px;
}
.movie_title p {
  padding-left: 15px;
  font-size: small;
}
.w3-content {
  position: relative;
  margin-top: 0em;
}
.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.w3-btn,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.w3-disabled *,
:disabled * {
  pointer-events: none;
}
.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}
.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.w3-content button {
  position: absolute;
  top: 32%;
}

.w3-display-right {
  right: 0;
}
.w3-display-left {
  left: 0;
}
.nav2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  height: auto;
  width: 100%;
  grid-column-gap: 10px;
  border-top: black solid 0.8px;
  padding-top: 13px;
  position: fixed;
  bottom: 0;
  background-color: white;
}
.navtext {
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 10px;
}
div .nav {
  margin-left: auto;
  margin-right: auto;
}
.navtext {
  text-decoration: none;
  color: black;
}
