body {
  margin: 0;
}
.full {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8% 82% 4% 6%;
}
.navtop1 {
  grid-column-start: span 4;
  background-color: white;
  margin-top: 10px;
  border-bottom: black solid 0.8px;
}
.svg {
  flex: 1;
  margin-left: 10px;
  margin-right: -12px;
}
.ryanair {
  height: 20px;
}

.map {
  grid-column-start: span 4;
  display: flex;
  overflow: hidden;
}
p {
  font-size: 0.8em;
  text-align: center;
}
.navbottom {
  margin-left: auto;
  margin-right: auto;
}
